# change these and rename to .env before starting the bot

# bot token
TOKEN=""

# llm api auth (your api key)
LLM_KEY=""

LLM_LOCAL_URL="http://localhost:4891/v1/chat/completions"
LLM_PROXY_URL="https://api.groq.com/openai/v1/chat/completions"

# owner user id for global admin
OWNER_ID=""
